<launch>

    <!-- default args -->
    <arg name="use_gui" default="false" />
    <arg name="use_hmi" default="false" />
    <arg name="nav_verbose" default="false" />
    <arg name="verbose" default="false" />
    <arg name="pilot_verbose" default="false" />
    <arg name="ctrl_config" default="sliding_open_loop.yaml" />
    <arg name="frame_child" default="sphere_a" />
    <arg name="frame_odom" default="odom" />
    <arg name="trajectory_source_frame_name" default="/sphere"/>
    <arg name="trajectory_update_rate" default="4"/>
    <arg name="trajectory_publish_rate" default="0.25"/>
    <arg name="veh_name" default="sphere_a"/>

    <!-- load the global parameters for the simulation -->
    <rosparam command="load" file="$(find simulator)/conf/sp_params_global.yaml"/>

    <!-- load the map server -->
   <!-- <node name="map_server" pkg="map_server" type="map_server_node"/>  -->

    <!-- run the acoustic ping simulator for the inter-sphere range messages -->
   <!-- <node name="acoustic_ping_sim" pkg="simulator" type="sim_acoustic_sensors.py" output="screen"/>  -->

    <!-- robot #A -->
    <include file="$(find simulator)/launch/simulate_sphere_sensors.launch">
	    <arg name="nav_verbose" value="$(arg nav_verbose)" />
	    <arg name="verbose" value="$(arg verbose)" />
	    <arg name="pilot_verbose" value="$(arg verbose)" />
	    <arg name="ctrl_config" value="$(arg ctrl_config)" />
	    <arg name="frame_odom" value="$(arg frame_odom)" />
	    <arg name="trajectory_update_rate" value="$(arg trajectory_update_rate)"/>
	    <arg name="trajectory_publish_rate" value="$(arg trajectory_publish_rate)"/>
	    <arg name="veh_name" value="$(arg veh_name)"/>
    </include>

    <!-- launch the rviz gui -->
    <group if="$(arg use_gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulator)/conf/sphere_test.rviz" />
    </group>



    <!-- publish a static transform between rviz and map -->
    <node pkg="tf" type="static_transform_publisher" name="rviz_to_map" args="0.0 0.0 0.0 0.0 0.0 0 /rviz /map 10"/>
    <node pkg="tf" type="static_transform_publisher" name="rviz_to_odom" args="0.0 0.0 0.0 0.0 0.0 0 /rviz /odom 10" />
    <node pkg="tf" type="static_transform_publisher" name="map2map_ned" args="0.0 0.0 0.0 0.0 0.0 3.14159 /map /map_ned 10" />
    
</launch>

